---
tags: documentation
title: Customize
eleventyNavigation:
  key: Customize
  order: 2
  parent: Documentation
---
<section>
  <div class="container">
    <h1 class="tag-primary is-large">Customize</h1>
  </div>
</section>
