---
tags: documentation
title: Getting Started
eleventyNavigation:
  key: Documentation
  icon: icon-book
  order: 0
---
<section>
  <div class="container">
    <h1 class="tag-primary is-large">
      Documentation
    </h1>
    <h2>
      Get started with Tanjun CSS, the base library for your next CSS project.
    </h2>
    <p>
      <strong>Tanjun CSS</strong> can be used as your base library so you can start developing and applying your next project design.
    </p>
    <p class="tag-secondary">
      <strong>Spend some time minutes reading the docs</strong> <br>
      Without any extension/modification the UI will look super flat as it is not attached to any design.
    </p>
    <h3>
      Why should I use it?
    </h3>
    <p>
      By composing and extending you will get a really nice workflow while developing the UI of your project, with minimal footprint and super customizable.
    </p>
    <h3>
      Getting started
    </h3>
    <ul>
      <li>
        Install the package from npm <code class="language-text">npm i fabiangarga/tanjun-css</code>
      </li>
      <li>
        Create your own sass file, and import <code class="language-text">@tanjun</code> or only the parts you want to use
      </li>
      <li>
        Customize the default options by re declaring at the top level of your <code>sass</code> file, see the "Customize" section of the documentation.
      </li>
    </ul>
  </div>
</section>
