---
layout: main-layout.njk
eleventyNavigation:
  key: Home
  icon: icon-info
  order: 0
---
<section class="hero">
  <img src="assets/images/tanjun-mountain.png" alt="Tanjun-css">
  <div class="hero-content">
    <h1>Tanjun CSS</h1>
    <h2>Responsive, scalable, customizable, simple and made for your project by you</h2>
  </div>
</section>
<section>
  <div class="container">
    <p class="has-text-size-2">
      If you are aiming to find the best all purpose CSS library, you will end up with predefined styles and your HTML class attribute might end up with a huge list of CSS classes.
    </p>
    <p class="has-text-size-2">
      You can definitely do better and create a library from scratch, but you might end up spending quite some time setting up all the project structure, grids, breakpoints, helpers for your text, etc.
    </p>
    <p class="has-text-size-3">
      Make use of <strong>Tanjun CSS</strong>? it will help you keep the HTML syntax <strong>clean</strong> by composing and creating your own CSS rules.
    </p>
    <div>
      <button class="button-primary">
        <i class="icon-book"></i>
        Get Started
      </button>
      <button class="button-secondary">
        <i class="icon-github"></i>
        Contribute
      </button>
    </div>
    <p class="has-text-size-3">
      If not, at least you might get some ideas from this project that will help you to <strong>successfully build your own</strong>.
    </p>
  </div>
</section>
